<h1>New Outfit</h1>

<%#= form_for @outfit do |outfit| %>
  <%#= outfit.shirt_top_id%>
  <%#= outfit.pant_id %>
  <%#= outfit.shoe_id %>

  <div>
    <%= submit_tag "Create Outfit" %>
  </div>
<%# end %>
